* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
main {
  padding: 3rem;
}
header {
  width: 100%;
  position: absolute;
  z-index: 10000;
  background-color: #FF6464;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.3);
}
header > img {
  max-height: 3rem;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding: 4em;
  margin-top: 2rem;
}
a {
  text-decoration: none;
}

.all-pokemons {
  list-style-type: none;
  margin: 1rem;
  transition: .3s;
  min-height: 12rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  color: black;
  font-family: "Roboto";
  font-size: 1.2rem;
  flex: 0 1 20%;
  justify-content: space-between;
}
.all-pokemons:hover {
  transform: scale(1.1)
}
.all-pokemons img {
  display: block;
  width: 100%;
  image-rendering: pixelated;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-bottom: .2rem;
}
.all-pokemons .add-to-team {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 3rem;
  background: none;
  transition: .5s;
  opacity: 0;
}
.all-pokemons:hover .add-to-team {
  opacity: 1;
  transition: .5s;
}

.all-pokemons .pokemon-name {
  display: block;
  width: 100%;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-weight:bold;
  font-size: 1.2rem;
}
.pokemon-type {
  display: inline-block;
  font-size: .6rem;
  width: auto;
  color: white;
  border-radius: 5px;
  padding: .3rem;
  text-transform: uppercase;
}

.pokemon-details {
  width: 70vw;
  display: flex;
  min-height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  color: black;
  font-family: "Roboto";
  font-size: 1.2rem;
  border-radius: 10px;
}
.pokemon-details .img-slider {
  flex: 1;
  position: relative;
  width: 40%;
  display: inline-block;
  height: 100%;
}
.pokemon-details .img-slider img {
  width: 100%;
  image-rendering: pixelated;
}
.pokemon-info {
  flex: 1;
  width: 60%;
  display: inline-block;
}
.pokemon-info .pokemon-name {
  width: 100%;
  font-size: 3rem;
  text-transform: capitalize;
  display: block;
}
.pokemon-info .pokemon-types {
  width: 100%;
  display: block;
}

.pokemon-all-stats {
  width: 100%;
  padding: 1rem 0;
  display: block;
}
.pokemon-single-stat {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.pokemon-stat-name {
}
.pokemon-stat-base-name {
}

.load-more {
  width: auto;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 1rem .5rem;
  color: white;
  background-color: #FF6464;
}




.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }
