* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
main {
  padding: 3rem 3rem 3rem 5rem;
  background-color: #191B1D;
  z-index: 100;
}
header {
  width: 100%;
  z-index: 1000;
  background-color: #FF6464;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.3);
}
header img {
  max-height: 3rem;
}
ul {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  padding: 4em;
}
a {
  text-decoration: none;
}

.all-pokemons {
  list-style-type: none;
  margin: 1rem;
  transition: .3s;
  min-height: 12rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  color: black;
  font-family: "Roboto";
  font-size: 1.2rem;
  flex: 1 0 20%;
  background-color: rgb(255,255,255);
  justify-content: space-between;
}
.all-pokemons:hover {
  transform: scale(1.1)
}
.all-pokemons img {
  display: block;
  width: 100%;
  image-rendering: pixelated;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-bottom: .2rem;
}
.all-pokemons .add-to-team {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 3rem;
  background: none;
  transition: .5s;
  opacity: 0;
}
.all-pokemons:hover .add-to-team {
  opacity: 1;
  transition: .5s;
}

.all-pokemons .pokemon-name {
  display: block;
  width: 100%;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-weight:bold;
  font-size: 1.2rem;
}
.pokemon-type {
  display: inline-block;
  font-size: .6rem;
  width: auto;
  color: white;
  border-radius: 5px;
  padding: .3rem;
  text-transform: uppercase;
}

#pokemon-details {
  width: 70vw;
  display: flex;
  min-height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0px 13px 90px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: rgb(255,255,255);
  color: black;
  font-family: "Roboto";
  font-size: 1.2rem;
  border-radius: 10px;
}
#pokemon-details .img-slider {
  flex: 1;
  position: relative;
  width: 40%;
  display: inline-block;
  height: 100%;
}
#pokemon-details .img-slider img {
  width: 100%;
  image-rendering: pixelated;
}
.pokemon-info {
  flex: 1;
  width: 60%;
  display: inline-block;
}
.pokemon-info .pokemon-name {
  width: 100%;
  font-size: 3rem;
  text-transform: capitalize;
  display: block;
}
.pokemon-info .pokemon-types {
  width: 100%;
  display: block;
}

.pokemon-all-stats {
  width: 100%;
  padding: 1rem 0;
  display: block;
}
.pokemon-single-stat {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.load-more {
  width: auto;
  display: block;
  bottom: 0;
  width: 50%;
  margin: 0 auto;
  height: 3rem;
  text-align: center;
  padding: 1rem .5rem;
  color: white;
  background-color: #FF6464;
  transition: all 1s ease;
}
.load-more:hover {
  width: 60%;
}


.hide-load {
  display: none;
}
.show-load {
  display: block;
  position: absolute;
  width: 100%;
  top: -10vh;
  height: 110vh;
  overflow: hidden;
}
.show-load > img {
  display: block;
  position: absolute;
  width: 100%;
  top: -2rem;
}

.my-team {
  position: fixed;
  height: 100vh;
  bottom: 0;
  top: 50%;
  width: 9rem;
  padding: 2rem 1rem;
  transform: translate(0, -50%);
  z-index: 1000;
  background: #FF6464;
  left: -8rem;
  transition: all 1s ease;
}
.team-toggle {
  display: block;
  width: 100%;

}
.my-team .my-team-members {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin: .5rem;
  transition: .3s;
  border-radius: 5px;
  color: black;
  background-color: rgb(255,255,255);
  padding: .5rem;
}
.my-team img {
  image-rendering: pixelated;
  background-color: #F2F2F2;
  border-radius: 5px;
  width: 100%;
}
.my-team .pokemon-name {
  display: block;
  width: 100%;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-weight:bold;
}

.show-my-team {
  left: 0rem;
}
.show-my-team-3s {
  animation: showTeamForOneSecond 3s ease
}

@keyframes showTeamForOneSecond {
  0% {
    left: -8rem;
  }
  20% {
    left: 0rem;
  }
  80% {
    left: 0rem;
  }
  100% {
    left: -8rem;
  }
}

.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }


#load-more {
  display: none;
}